.Home {
    position: relative;
    width: 100%;
    height: 100vh;

    .wrap {
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
        img {
            position: absolute;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .emoji00 {
            width: 260px;
            bottom: 20%;
            right: 16%;
            animation: rotateSticker 1s ease-in-out infinite;
        }
        @keyframes rotateSticker {
            0% {
                transform:rotate(0);
            }
            50% {
                transform: rotate(20deg);
            }
            100% {
                transform: rotate(0);
            }
        }
        .emoji01 {
            width: 120px;
            left: 10%;
            bottom: 27%;
            transform: rotate(-5deg);
            animation: jiggleInfinite 11s infinite;
            animation-delay: 5s;
        }
        @keyframes jiggleInfinite {
            0% {
                transform: rotate(-5deg);
            }
            9% {
                transform: rotate(-5deg);
            }
            10% {
                transform: rotate(-7deg);
            }
            11% {
                transform: rotate(5deg);
            }
            12% {
                transform: rotate(-7deg);
            }
            13% {
                transform: rotate(5deg);
            }
            14% {
                transform: rotate(-5deg);
            }
            100% {
                transform: rotate(-5deg);
            }
        }

        .emoji02 {
            position: absolute;
            left: 20%;
            bottom: 28%;

            img {
                width: 160px;
                z-index: -1;
            }
            span {
                display: inline-block ;
                width: 120px;
                margin-left: 25px;
                padding-top: 10px;
                font-family: 'Noto Sans KR';
                font-size: 0.875rem;
                color: #fff;
            }
            &:hover {
                span {
                    visibility: hidden;
                    transition: 0.1s ease-in;
                }
            }
        }
    }

    #scrollable {
        height: 30vh; /* 반응형 높이값 */
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        scroll-snap-type: y mandatory;
        font-family: "Inter", sans-serif;
        padding-left: 3rem;
    
        h1 {
            font-size: 10vw;
            height: 30vh;
            font-weight: 500;
            scroll-snap-align: start;
            user-select: none;
        }
        #retype {
            display:  inline-block;
            max-width: max-content;
            width: 2rem;
            animation: typing-erase 5s linear infinite;
            overflow: hidden; 
            border-right: .01em solid #000;
            white-space: nowrap; 
            line-height: 1.2;
    
            &::after {
                content: "";
                animation: change-text 40s linear infinite;
            }
            @keyframes typing-erase {
                0% { width: 0 }
                40% { width: 100% }
                50%, 100% {width: 0 }
            }
            @keyframes change-text {
                0% { content:"publisher"; }
                20% { content:"design"; }
                40% { content:"publisher"; }
                90% { content:"!@#$%&"; }
                100% { content:"publisher"; }
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .home_bottom {
        position: absolute;
        bottom: $footer-h;
        width: 100%;
        padding: 1.25rem 0;

        .container {
            @include flex(row, flex-end, space-between);
            
            #time {
                user-select: none;
            }
            a {
                padding: 5px 20px;
                color: #fff;
                background-color: #000;
                border-radius: 20px;
                border: 2px solid #fff;
                line-height: 1;
            }
            .hidden {
                visibility: hidden;
            }
        }
    }
}