.Projects {
    height: 100vh;
    font-family: 'Inter';

    #scrollbar {
        height: calc(100vh - 160px);

        .scroll-content {
            height: 100%;
        }
    }

    .scrollbar-track-x {
        height: 1px!important;
        bottom: 50px!important;
        margin: 0 auto!important;
        left: 0!important;
        right: 0!important;
        background: rgba(0, 0, 0, .06)!important;
        
        .scrollbar-thumb {
            height: 3px;
            top: -1px;
            background: rgba(0, 0, 0, .1);
        }
    }

    .wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        counter-reset: item;
        height: 100%;
        
        .section__title {
            flex: 0 0 700px;
            @include flex(column, flex-start, flex-end);
            padding: 100px 30px;

            h2 {
                font-size: 4rem;
                margin-bottom: 1rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    right: -51px;
                    bottom: 10px;
                    width: 50px;
                    height: 50px;
                    background: url(./../img/emoji-lightbulbpng.png)no-repeat center center /cover;
                    animation: jiggleInfinite 11s infinite;
                    animation-delay: 5s;
                }
                @keyframes jiggleInfinite {
                    0% {
                        transform: rotate(0deg);
                    }
    
                    9% {
                        transform: rotate(0deg);
                    }
    
                    10% {
                        transform: rotate(-7deg);
                    }
    
                    11% {
                        transform: rotate(7deg);
                    }
    
                    12% {
                        transform: rotate(-7deg);
                    }
    
                    13% {
                        transform: rotate(7deg);
                    }
    
                    14% {
                        transform: rotate(0deg);
                    }
    
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            p {
                font-family: "Roboto Mono", monospace;
                font-size: 1.25rem;
            }
        }
        .item {
            padding: 100px 80px;
            flex: 0 0 1000px;
            height: 100%;
            display: flex;
            user-select: none;
            border-left: 1px solid rgba(0, 0, 0, .08);
            gap: 2rem;

            &:nth-child(2n+1) {
                align-items: center;
            }
            &:nth-child(3n+1) {
                align-items: flex-end;
            }
            .item_desc {
                position: relative;
                &:before {
                    counter-increment: item;
                    content: counter(item);
                    font-size: 100px;
                    opacity: .13;
                    font-weight: bold;
                    position: absolute;
                    z-index: -1;
                    transform: translate(-30px, -50px);
                    line-height: 1;
                }
                h3 {
                    font-family: "Roboto Mono",  'Noto Sans KR',  monospace;
                    font-size: 1.875rem;
                    line-height: 1.2;
                }
                strong {
                    font-family: 'Noto Sans KR';
                    font-size: 1.25rem;
                    display: block;
                }
                p {
                    font-family: 'Noto Sans KR';
                    width: 400px;
                    line-height: 1.5;
                    margin-top: 0.625rem;
                }
            }
            .window {
                display: block;
                width: 100%;
                height: 250px;
                border-radius: 15px;
                
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    background-color: cadetblue;
                }
            }
        }
        .item01 {
            .window {
                a {
                    background: url(../img/window-webstandard.png)no-repeat center center/cover;
                }
            }
        }
        .item02 {
            .window {
                a {
                    background: url(../img/window-haagendazs.jpg)no-repeat center center/cover;
                }
            }
        }
        .item03 {
            .window {
                a {
                    background: url(../img/window-momentum.png)no-repeat center center/cover;
                }
            }
        }
        .item04 {
            .window {
                a {
                    background: url(../img/window-salady.png)no-repeat center center/cover;
                }
            }
        }
        .item05 {
            .window {
                a {
                    background: url(../img/window-canvas.png)no-repeat center center/180%;
                }
            }
        }
        .item07 {
            .window {
                a {
                    background: url(../img/window-jihasuinfo.png)no-repeat center center/cover;
                }
            }
        }
        .item08 {
            .window {
                a {
                    background: url(../img/window-jihasuapp.png)no-repeat center center/cover;
                }
            }
        }
        .item09 {
            .window {
                a {
                    background: url(../img/window-peru.png)no-repeat center center/cover;
                }
            }
        }
    }

    .pagination {
        position: fixed;
        top: 80px;
        left: 50%;
        z-index: 200;
        transform: translateX(-50%);
        white-space: none;
        display: flex;
        
    button {
        text-indent: -9999px;
        outline: none;
        width: 20px;
        height: 20px;
        border: none;
        position: relative;
        background: none;
        padding: 0;
        font-size: 0;
        cursor: pointer;
        
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid #aaa;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                box-shadow: inset 0 0 0 1px #eee;
                transition: background .2s ease-in-out;
            }
            
            &.active {
                &:before {
                    background: #111;
                }
            }
        }
    }
}
@include mobile {
    .Projects {
        .wrapper {
            .section__title {
                flex: 0 0 400px;
                padding: 100px 0;
                h2 {
                    font-size: 3rem;
                }
                p {
                    width: 240px;
                    font-size: 1rem;
                }
            }
            .item {
                flex: 0 0 400px;
                flex-direction: column;
                .window {
                    width: 350px;
                    height: 200px;
                }
                &:nth-child(2n+1) {
                    justify-content: center;
                }
                &:nth-child(3n+1) {
                    justify-content: flex-end;
                }
            }
        }
    }
}